extends layout
block content

  label= info
  h1 Autenticação
  .w3-container
    form.w3container(id="myForm" action="/enviaEmail" method="POST")
      input.w3-input(type='email' name='email' placeholder='exemplo@teste.com' required)
      input.w3-input(type='text' name='assunto' placeholder='Assunto' required)
      textarea.w3-input.w3-border.w3-light-grey(name='texto' id='texto' rows='3' cols='80')
      input.w3-input(type='hidden' id='from' name='from' value= info)
      input.w3-btn(type="submit" value="Enviar!")